<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Ceir-</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="static/assets/css/style.css">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class=" container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>CEIR<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="form">Form</a></li>
          <li><a href="blog">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container  position-relative">
      <div class="row gy-5 box " data-aos="fade-in">
        <div class="col-lg-6  order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
<!--          <h2>Welcome to <span>Impact</span></h2>-->
<!--          <p>Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum quaerat.</p>-->
<!--          <div class="d-flex justify-content-center justify-content-lg-start">-->
<!--&lt;!&ndash;            <a href="#about" class="btn-get-started">Get Started</a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>&ndash;&gt;-->
<!--          </div>-->
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="static/assets/img/hero-img.vg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100" >
            <div class="icon-box" style="background-color:red;">
              <div class="icon"><i class="bi bi-easel"></i></div>
              <h4 class="title"><a href="form" class="stretched-link">BlockStolen Mobile</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box" style="background-color:green;">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Un-Block Found Mobile</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box" style="background-color:rgb(66, 135, 245);">
              <div class="icon"><i class="bi bi-geo-alt"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Check Request Status</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box" style="background-color:blue;">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Forget Reguest ID</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>CEIR is the citizen centric portal of Department of Telecommunications for tracing the lost/stolen mobile devices.</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3>A Central Equipment Identity Register (CEIR) is a database of mobile equipment identifiers (IMEI – for networks of GSM standard, MEID – for networks of CDMA standard).</h3>
            <img src="static/assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
            <p>A Central Equipment Identity Register (CEIR) is a database of mobile equipment identifiers (IMEI – for networks of GSM standard, MEID – for networks of CDMA standard).</p>
            <p>CEIR is the citizen centric portal of Department of Telecommunications for tracing the lost/stolen mobile devices.
                This also facilitates for blocking of lost/stolen mobile devices in network of all telecom operators so that lost/stolen devices can not be used in India.</p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">

CEIR is the citizen centric portal of Department of Telecommunications for tracing the lost/stolen mobile devices.

              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Type KYM <15 digit IMEI number> from your mobile and send the SMS to 14422</li>
                <li><i class="bi bi-check-circle-fill"></i> Download the KYM app from Play Store (for Android) or from App Store (for iOS).</li>
                <li><i class="bi bi-check-circle-fill"></i> To use the web portal, click here.</li>
              </ul>
              <p>CEIR is the citizen centric portal of Department of Telecommunications for tracing the lost/stolen mobile devices.
                This also facilitates for blocking of lost/stolen mobile devices in network of all telecom operators so that lost/stolen devices can not be used in India.
                If anyone tries to use the blocked mobile phone, its traceability is generated. Once mobile phone is found it may be unblocked on the portal for its normal use by the citizens.

              </p>

              <div class="position-relative mt-4">
                <img src="static/assets/img/about-2.jpg" class="img-fluid rounded-4" alt="">
                <a href="https://www.youtube.com/watch?v=H9fGxjfzedg" class="glightbox play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="static/assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
          </div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 align-items-center">

          <div class="col-lg-6">
            <img src="static/assets/img/stats-img.svg" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6">

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="1049740" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> 10,49,740 mobiles Found. <blocked></blocked></p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="486693" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>traced</strong>4,86,693 mobiles traced.
 </p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> Ceir help a customer 24/7 at online .</p>
            </div><!-- End Stats Item -->

          </div>

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container text-center" data-aos="zoom-out">
        <a href="https://www.youtube.com/embed/bFetteTbs_k?rel=0" class="glightbox play-btn"></a>
        <h3>Ceir related content</h3>
        <p> CEIR is the citizen centric portal of Department of Telecommunications for tracing the lost/stolen mobile devices..</p>
        <a class="cta-btn" href="#">Call To Action</a>
      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Services</h2>
          <p>CEIR Services. Block Stolen/Lost Mobile Un-Block Found Mobile Check Request Status Forgot Request ID. Applications. Know Your Mobile APP IMEI Verification</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <h3>SMS</h3>
              <p>Type KYM <15 digit IMEI number> from your mobile and send the SMS to 14422.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <h3>KYM</h3>
              <p>Download the KYM app from Play Store (for Android) or from App Store (for iOS).</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <h3>Web Portal</h3>
              <p>To use the web portal, click here.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <h3>Block Stolen Phone </h3>
              <p>Enter your phone's IMEI (International Mobile Equipment Identity) number and click on the "Search" button. The portal will display the current location of your device if it is switched on and connected to the internet. To block your lost smartphone, click on the "Block Stolen/Lost Mobile" button.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <h3>Un-block found Mobile</h3>
              <p>How to unblock a blocked phone? If you have recovered your stolen or lost phone, you can unblock it through the CEIR website. Simply enter details such as the request ID and the mobile number you provided for OTP while blocking, and specify a reason for unblocking.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <h3>Check Request</h3>
              <p>Hic SMS. Type KYM <15 digit IMEI number> from your mobile and send the SMS to 14422.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Testimonials Section ======= -->
<!--    <section id="testimonials" class="testimonials">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="section-header">-->
<!--          <h2>Testimonials</h2>-->
<!--          <p>Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos quam</p>-->
<!--        </div>-->

<!--        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">-->
<!--          <div class="swiper-wrapper">-->

<!--            <div class="swiper-slide">-->
<!--              <div class="testimonial-wrap">-->
<!--                <div class="testimonial-item">-->
<!--                  <div class="d-flex align-items-center">-->
<!--                    <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="">-->
<!--                    <div>-->
<!--                      <h3>Saul Goodman</h3>-->
<!--                      <h4>Ceo &amp; Founder</h4>-->
<!--                      <div class="stars">-->
<!--                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <p>-->
<!--                    <i class="bi bi-quote quote-icon-left"></i>-->
<!--                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.-->
<!--                    <i class="bi bi-quote quote-icon-right"></i>-->
<!--                  </p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End testimonial item &ndash;&gt;-->

<!--            <div class="swiper-slide">-->
<!--              <div class="testimonial-wrap">-->
<!--                <div class="testimonial-item">-->
<!--                  <div class="d-flex align-items-center">-->
<!--                    <img src="static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="">-->
<!--                    <div>-->
<!--                      <h3>Sara Wilsson</h3>-->
<!--                      <h4>Designer</h4>-->
<!--                      <div class="stars">-->
<!--                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <p>-->
<!--                    <i class="bi bi-quote quote-icon-left"></i>-->
<!--                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.-->
<!--                    <i class="bi bi-quote quote-icon-right"></i>-->
<!--                  </p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End testimonial item &ndash;&gt;-->

<!--            <div class="swiper-slide">-->
<!--              <div class="testimonial-wrap">-->
<!--                <div class="testimonial-item">-->
<!--                  <div class="d-flex align-items-center">-->
<!--                    <img src="static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt="">-->
<!--                    <div>-->
<!--                      <h3>Jena Karlis</h3>-->
<!--                      <h4>Store Owner</h4>-->
<!--                      <div class="stars">-->
<!--                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <p>-->
<!--                    <i class="bi bi-quote quote-icon-left"></i>-->
<!--                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.-->
<!--                    <i class="bi bi-quote quote-icon-right"></i>-->
<!--                  </p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End testimonial item &ndash;&gt;-->

<!--            <div class="swiper-slide">-->
<!--              <div class="testimonial-wrap">-->
<!--                <div class="testimonial-item">-->
<!--                  <div class="d-flex align-items-center">-->
<!--                    <img src="static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img flex-shrink-0" alt="">-->
<!--                    <div>-->
<!--                      <h3>Matt Brandon</h3>-->
<!--                      <h4>Freelancer</h4>-->
<!--                      <div class="stars">-->
<!--                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <p>-->
<!--                    <i class="bi bi-quote quote-icon-left"></i>-->
<!--                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore.-->
<!--                    <i class="bi bi-quote quote-icon-right"></i>-->
<!--                  </p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End testimonial item &ndash;&gt;-->

<!--            <div class="swiper-slide">-->
<!--              <div class="testimonial-wrap">-->
<!--                <div class="testimonial-item">-->
<!--                  <div class="d-flex align-items-center">-->
<!--                    <img src="static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img flex-shrink-0" alt="">-->
<!--                    <div>-->
<!--                      <h3>John Larson</h3>-->
<!--                      <h4>Entrepreneur</h4>-->
<!--                      <div class="stars">-->
<!--                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <p>-->
<!--                    <i class="bi bi-quote quote-icon-left"></i>-->
<!--                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore.-->
<!--                    <i class="bi bi-quote quote-icon-right"></i>-->
<!--                  </p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End testimonial item &ndash;&gt;-->

<!--          </div>-->
<!--          <div class="swiper-pagination"></div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Testimonials Section &ndash;&gt;-->

    <!-- ======= Portfolio Section ======= -->
<!--    <section id="portfolio" class="portfolio sections-bg">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="section-header">-->
<!--          <h2>Portfolio</h2>-->
<!--          <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia reprehenderit sunt deleniti</p>-->
<!--        </div>-->

<!--        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">-->

<!--          <div>-->
<!--            <ul class="portfolio-flters">-->
<!--              <li data-filter="*" class="filter-active">All</li>-->
<!--              <li data-filter=".filter-app">App</li>-->
<!--              <li data-filter=".filter-product">Product</li>-->
<!--              <li data-filter=".filter-branding">Branding</li>-->
<!--              <li data-filter=".filter-books">Books</li>-->
<!--            </ul>&lt;!&ndash; End Portfolio Filters &ndash;&gt;-->
<!--          </div>-->

<!--          <div class="row gy-4 portfolio-container">-->

<!--            <div class="col-xl-4 col-md-6 portfolio-item filter-app">-->
<!--              <div class="portfolio-wrap">-->
<!--                <a href="assets/img/portfolio/app-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-1.jpg" class="img-fluid" alt=""></a>-->
<!--                <div class="portfolio-info">-->
<!--                  <h4><a href="portfolio-details.html" title="More Details">App 1</a></h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-xl-4 col-md-6 portfolio-item filter-product">-->
<!--              <div class="portfolio-wrap">-->
<!--                <a href="static/assets/img/portfolio/product-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/product-1.jpg" class="img-fluid" alt=""></a>-->
<!--                <div class="portfolio-info">-->
<!--                  <h4><a href="portfolio-details.html" title="More Details">Product 1</a></h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">-->
<!--              <div class="portfolio-wrap">-->
<!--                <a href="static/assets/img/portfolio/branding-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/branding-1.jpg" class="img-fluid" alt=""></a>-->
<!--                <div class="portfolio-info">-->
<!--                  <h4><a href="portfolio-details.html" title="More Details">Branding 1</a></h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-xl-4 col-md-6 portfolio-item filter-books">-->
<!--              <div class="portfolio-wrap">-->
<!--                <a href="static/assets/img/portfolio/books-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/books-1.jpg" class="img-fluid" alt=""></a>-->
<!--                <div class="portfolio-info">-->
<!--                  <h4><a href="portfolio-details.html" title="More Details">Books 1</a></h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-xl-4 col-md-6 portfolio-item filter-app">-->
<!--              <div class="portfolio-wrap">-->
<!--                <a href="static/assets/img/portfolio/app-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-2.jpg" class="img-fluid" alt=""></a>-->
<!--                <div class="portfolio-info">-->
<!--                  <h4><a href="portfolio-details.html" title="More Details">App 2</a></h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-xl-4 col-md-6 portfolio-item filter-product">-->
<!--              <div class="portfolio-wrap">-->
<!--                <a href="static/assets/img/portfolio/product-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/product-2.jpg" class="img-fluid" alt=""></a>-->
<!--                <div class="portfolio-info">-->
<!--                  <h4><a href="portfolio-details.html" title="More Details">Product 2</a></h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">-->
<!--              <div class="portfolio-wrap">-->
<!--                <a href="static/assets/img/portfolio/branding-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/branding-2.jpg" class="img-fluid" alt=""></a>-->
<!--                <div class="portfolio-info">-->
<!--                  <h4><a href="portfolio-details.html" title="More Details">Branding 2</a></h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-xl-4 col-md-6 portfolio-item filter-books">-->
<!--              <div class="portfolio-wrap">-->
<!--                <a href="static/assets/img/portfolio/books-2.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/books-2.jpg" class="img-fluid" alt=""></a>-->
<!--                <div class="portfolio-info">-->
<!--                  <h4><a href="portfolio-details.html" title="More Details">Books 2</a></h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-xl-4 col-md-6 portfolio-item filter-app">-->
<!--              <div class="portfolio-wrap">-->
<!--                <a href="static/assets/img/portfolio/app-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/app-3.jpg" class="img-fluid" alt=""></a>-->
<!--                <div class="portfolio-info">-->
<!--                  <h4><a href="portfolio-details.html" title="More Details">App 3</a></h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-xl-4 col-md-6 portfolio-item filter-product">-->
<!--              <div class="portfolio-wrap">-->
<!--                <a href="static/assets/img/portfolio/product-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/product-3.jpg" class="img-fluid" alt=""></a>-->
<!--                <div class="portfolio-info">-->
<!--                  <h4><a href="portfolio-details.html" title="More Details">Product 3</a></h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">-->
<!--              <div class="portfolio-wrap">-->
<!--                <a href="static/assets/img/portfolio/branding-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/branding-3.jpg" class="img-fluid" alt=""></a>-->
<!--                <div class="portfolio-info">-->
<!--                  <h4><a href="portfolio-details.html" title="More Details">Branding 3</a></h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-xl-4 col-md-6 portfolio-item filter-books">-->
<!--              <div class="portfolio-wrap">-->
<!--                <a href="static/assets/img/portfolio/books-3.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="assets/img/portfolio/books-3.jpg" class="img-fluid" alt=""></a>-->
<!--                <div class="portfolio-info">-->
<!--                  <h4><a href="portfolio-details.html" title="More Details">Books 3</a></h4>-->
<!--                  <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--          </div>&lt;!&ndash; End Portfolio Container &ndash;&gt;-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Portfolio Section &ndash;&gt;-->

    <!-- ======= Our Team Section ======= -->
<!--    <section id="team" class="team">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="section-header">-->
<!--          <h2>Our Team</h2>-->
<!--          <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>-->
<!--        </div>-->

<!--        <div class="row gy-4">-->

<!--          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">-->
<!--            <div class="member">-->
<!--              <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">-->
<!--              <h4>Walter White</h4>-->
<!--              <span>Web Development</span>-->
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Team Member &ndash;&gt;-->

<!--          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">-->
<!--            <div class="member">-->
<!--              <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">-->
<!--              <h4>Sarah Jhinson</h4>-->
<!--              <span>Marketing</span>-->
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Team Member &ndash;&gt;-->

<!--          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">-->
<!--            <div class="member">-->
<!--              <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">-->
<!--              <h4>William Anderson</h4>-->
<!--              <span>Content</span>-->
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Team Member &ndash;&gt;-->

<!--          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">-->
<!--            <div class="member">-->
<!--              <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">-->
<!--              <h4>Amanda Jepson</h4>-->
<!--              <span>Accountant</span>-->
<!--              <div class="social">-->
<!--                <a href=""><i class="bi bi-twitter"></i></a>-->
<!--                <a href=""><i class="bi bi-facebook"></i></a>-->
<!--                <a href=""><i class="bi bi-instagram"></i></a>-->
<!--                <a href=""><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Team Member &ndash;&gt;-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Our Team Section &ndash;&gt;-->

<!--    &lt;!&ndash; ======= Pricing Section ======= &ndash;&gt;-->
<!--    <section id="pricing" class="pricing sections-bg">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="section-header">-->
<!--          <h2>Pricing</h2>-->
<!--          <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p>-->
<!--        </div>-->

<!--        <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">-->

<!--          <div class="col-lg-4">-->
<!--            <div class="pricing-item">-->
<!--              <h3>Free Plan</h3>-->
<!--              <div class="icon">-->
<!--                <i class="bi bi-box"></i>-->
<!--              </div>-->
<!--              <h4><sup>$</sup>0<span> / month</span></h4>-->
<!--              <ul>-->
<!--                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>-->
<!--                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>-->
<!--                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>-->
<!--                <li class="na"><i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span></li>-->
<!--                <li class="na"><i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>-->
<!--              </ul>-->
<!--              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Pricing Item &ndash;&gt;-->

<!--          <div class="col-lg-4">-->
<!--            <div class="pricing-item featured">-->
<!--              <h3>Business Plan</h3>-->
<!--              <div class="icon">-->
<!--                <i class="bi bi-airplane"></i>-->
<!--              </div>-->

<!--              <h4><sup>$</sup>29<span> / month</span></h4>-->
<!--              <ul>-->
<!--                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>-->
<!--                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>-->
<!--                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>-->
<!--                <li><i class="bi bi-check"></i> Pharetra massa massa ultricies</li>-->
<!--                <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li>-->
<!--              </ul>-->
<!--              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Pricing Item &ndash;&gt;-->

<!--          <div class="col-lg-4">-->
<!--            <div class="pricing-item">-->
<!--              <h3>Developer Plan</h3>-->
<!--              <div class="icon">-->
<!--                <i class="bi bi-send"></i>-->
<!--              </div>-->
<!--              <h4><sup>$</sup>49<span> / month</span></h4>-->
<!--              <ul>-->
<!--                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>-->
<!--                <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>-->
<!--                <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>-->
<!--                <li><i class="bi bi-check"></i> Pharetra massa massa ultricies</li>-->
<!--                <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li>-->
<!--              </ul>-->
<!--              <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Pricing Item &ndash;&gt;-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Pricing Section &ndash;&gt;-->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h3>Frequently Asked <strong>Questions</strong></h3>
              <p>
               CEIR Services. Block Stolen/Lost Mobile Un-Block Found Mobile Check Request Status Forgot Request ID. Applications. Know Your Mobile APP IMEI Verification.
              </p>
            </div>
          </div>

          <div class="col-lg-8">

            <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <span class="num">1.</span>
                    What is ceir?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                   CEIR is the citizen centric portal of Department of Telecommunications for tracing the lost/stolen mobile devices. This also facilitates for blocking of lost/stolen mobile devices in network of all telecom operators so that lost/stolen devices can not be used in India. If anyone tries to use the blocked mobile phone, its traceability is generated. Once mobile phone is found it may be unblocked on the portal for its normal use by the citizens
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <span class="num">2.</span>
                    When to block your phone's IMEI?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                   The user should block the IMEI of their phone if it has been lost/stolen.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <span class="num">3.</span>
                    How to block a lost/stolen phone?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    ions
The user can block the phone's IMEI by any one of the following means:

    Through a form submitted on this website. The procedure to do it is as follows: -
       a. File a report with the police, and keep a copy of the report.
       b. Get a duplicate SIM Card for the lost number from your telecom service provider (eg, Airtel, Jio, Voda/Idea, BSNL, MTNL etc.). This is essential because you will need to provide this as the primary mobile number (OTP will be sent on this number) while submitting the request for blocking your IMEI.
       c. Note: As per TRAI's regulation, SMS facility on re-issued SIMs is enabled after 24 hours of SIM activation.
       e. Get your documents ready - a copy of police report and an Identity Proof must be provided. You can also provide the mobile purchase invoice.
        Fill out the request registration form for blocking the IMEI of lost/stolen phone, and attach the required documents. Click here to go to the form.
        After submitting the form, you will be given a Request ID. The same can be used for checking the status of your request and for unblocking the IMEI in future.
    Through State Police.

Note: If the user receives the message "Request already exist for IMEI *** and mobile number *** with FirNo = *** on *** by State police." after submitting the blocking request, it means that the request for their IMEI and mobile number already exists in the CEIR system through State police.

                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <span class="num">4.</span>
                    What happens after the user blocks their phone's IMEI?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    After the successful submission of blocking request, the user's phone is blocked within 24 hours. After the phone has been blocked, it cannot be used on any network across India.
Note: This does not prevent the police from tracking the lost/stolen phone.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <span class="num">5.</span>
                    When to unblock your phone's IMEI?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    The user should unblock the IMEI of their phone only if it has been found and is in possession of the user.
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-posts" class="recent-posts sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Recent Blog Posts</h2>
          <p>Consequatur libero assumenda est voluptatem est quidem illum et officia imilique qui vel architecto accusamus fugit aut qui distinctio</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Politics</p>

              <h2 class="title">
                <a href="blog-details.html">Cyber crime wing to use CEIR portal for tracing stolen or lost mobile phones
</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Rajkumar Upadhyay </p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jan 1, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Sports</p>

              <h2 class="title">
                <a href="blog-details.html">CEIR portal: Telangana leads with 67.98 per cent recoveries of lost,
                  stolen mobile phones</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">virendra sehwag</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 5, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Entertainment</p>

              <h2 class="title">
                <a href="blog-details.html">In total, 5,038 lost or stolen mobile devices were
                  recovered in 110 days, of which the last 1,000
devices were recove...</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Nitesh Tiwari</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 22, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

        </div><!-- End recent posts list -->

      </div>
    </section><!-- End Recent Blog Posts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">

            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>info@example.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+1 5589 55488 55</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>Open Hours:</h4>
                  <p>Mon-Sat: 11AM - 23PM</p>
                </div>
              </div><!-- End Info Item -->
            </div>

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="7" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>CEIR</span>
          </a>
          <p>LOST YOUR MOBILE?

Put in your details and let the Central Equipment Identity Register (CEIR) help you trace and block your lost or stolen device

Find out if your mobile device is genuine or not by using KYM App</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Block Stolen Phone </a></li>
            <li><a href="#">Un-block Stolen Phone</a></li>
            <li><a href="#">Check Request Status</a></li>
            <li><a href="#">Forget Request ID</a></li>
            <li><a href="#">Web Portal</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            Website content managed by Department of Telecommunications, Ministry of Communications, GoI
Designed, Developed and Hosted by Centre for Development of Telematics (C-DOT)
Website best viewed in Chrome 90+ and Firefox 90+ s <br><br>
            <strong>Phone:</strong>  14422<br>
            <strong>Email:</strong> ceir.support@cdot.in <br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>CEIR</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
        Designed by <a href="https://github.com/Koliajay">Ajaykoli</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>